<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  -->
<mapper namespace="com.example.app.mapper.CourseMapper">

<resultMap type="Course" id="joinCourse">
		<id property="id" column="c_id"/>
		<result property="courseId" column="c_course_id"/>
		<result property="title" column="c_title"/>
		<result property="detail" column="c_detail"/>
		<result property="classRoomId" column="c_class_room_id"/>
		<result property="courseTerm" column="c_course_term"/>
		<result property="tuitionFee" column="c_tuition_fee"/>
		<result property="materialFee" column="c_material_fee"/>
		<result property="registeredAt" column="c_registered_at"/>
		<result property="updatedAt" column="c_updated_at"/>

	<association property="courseCapacity" javaType="CourseCapacity">
		<result property="capacity" column="p_capacity"/>
		<result property="numberOfApplicant" column="p_number_of_applicant"/>
		<result property="registeredAt" column="p_registered_at"/>
		<result property="updatedAt" column="p_updated_at"/>
	</association>

	<association property="classRoom" javaType="ClassRoom">
		<id property="id" column="r_id"/>
		<result property="classRoom" column="r_class_room"/>
		<result property="registeredAt" column="r_registered_at"/>
		<result property="updatedAt" column="r_updated_at"/>
	</association>

	<collection property="classRoomSchedule" ofType="ClassRoomSchedule">
		<id property="id" column="s_id"/>
		<result property="courseId" column="s_course_id"/>
		<result property="classRoomId" column="s_class_room_id"/>
		<result property="date" column="s_date"/>
		<result property="startTime" column="s_start_time"/>
		<result property="endTime" column="s_end_time"/>
		<result property="coursePeriod" column="s_course_period"/>
		<result property="registeredAt" column="s_registered_at"/>
		<result property="updatedAt" column="s_updated_at"/>
	</collection>
</resultMap>

<resultMap type="CourseWithClassRoom" id="joinCourseWithClassRoom">
		<id property="id" column="c_id"/>
		<result property="courseId" column="c_course_id"/>
		<result property="title" column="c_title"/>
		<result property="detail" column="c_detail"/>
		<result property="classRoomId" column="c_class_room_id"/>
		<result property="courseTerm" column="c_course_term"/>
		<result property="tuitionFee" column="c_tuition_fee"/>
		<result property="materialFee" column="c_material_fee"/>
		<result property="registeredAt" column="c_registered_at"/>
		<result property="updatedAt" column="c_updated_at"/>

	<association property="courseCapacity" javaType="CourseCapacity">
		<result property="capacity" column="p_capacity"/>
		<result property="numberOfApplicant" column="p_number_of_applicant"/>
		<result property="registeredAt" column="p_registered_at"/>
		<result property="updatedAt" column="p_updated_at"/>
	</association>

	<collection property="classRoomSchedule" ofType="ClassRoomSchedule">
		<id property="id" column="s_id"/>
		<result property="courseId" column="s_course_id"/>
		<result property="classRoomId" column="s_class_room_id"/>
		<result property="date" column="s_date"/>
		<result property="startTime" column="s_start_time"/>
		<result property="endTime" column="s_end_time"/>
		<result property="coursePeriod" column="s_course_period"/>
		<result property="registeredAt" column="s_registered_at"/>
		<result property="updatedAt" column="s_updated_at"/>

		<association property="classRoom" javaType="ClassRoom">
			<id property="id" column="r_id"/>
			<result property="classRoom" column="r_class_room"/>
			<result property="registeredAt" column="r_registered_at"/>
			<result property="updatedAt" column="r_updated_at"/>
		</association>
	</collection>

</resultMap>

<resultMap type="ClassRoomSchedule" id="classRoomScheduleMap">
    <id property="id" column="s_id"/>
		<result property="courseId" column="s_course_id"/>
		<result property="classRoomId" column="s_class_room_id"/>
		<result property="date" column="s_date"/>
		<result property="startTime" column="s_start_time"/>
		<result property="endTime" column="s_end_time"/>
		<result property="coursePeriod" column="s_course_period"/>
		<result property="registeredAt" column="s_registered_at"/>
		<result property="updatedAt" column="s_updated_at"/>
		
    <association property="classRoom" javaType="ClassRoom">
    	<id property="id" column="r_id"/>
			<result property="classRoom" column="r_class_room"/>
			<result property="registeredAt" column="r_registered_at"/>
			<result property="updatedAt" column="r_updated_at"/>
    </association>
</resultMap>

	<sql id="standardSelect">
				course.id AS c_id,
        course.course_id AS c_course_id,
        course.title AS c_title,
        course.detail AS c_detail,
        course.class_room_id AS c_class_room_id,
        course.course_term AS c_course_term,
        course.tuition_fee AS c_tuition_fee,
        course.material_fee AS c_material_fee,
        course.registered_at AS c_registered_at,
        course.updated_at AS c_updated_at,

        course_capacity.capacity AS p_capacity,
        course_capacity.number_of_applicant AS p_number_of_applicant,
        course_capacity.registered_at AS p_registered_at,
        course_capacity.updated_at AS p_updated_at,

        class_room.id AS r_id,
        class_room.class_room AS r_class_room,
        class_room.registered_at AS r_registered_at,
        class_room.updated_at AS r_updated_at,

        class_room_schedule.id AS s_id,
        class_room_schedule.course_id AS s_course_id,
        class_room_schedule.class_room_id AS s_class_room_id,
        class_room_schedule.date AS s_date,
        class_room_schedule.start_time AS s_start_time,
        class_room_schedule.end_time AS s_end_time,
        class_room_schedule.course_period AS s_course_period,
        class_room_schedule.registered_at AS s_registered_at,
        class_room_schedule.updated_at AS s_updated_at
	</sql>


<select id="selectCourseAll" resultMap="joinCourse">
	select DISTINCT

	<include refid="standardSelect"></include>

	FROM course

			join  course_capacity
			on course.course_id=
			course_capacity.course_id

			join class_room
			on course.class_room_id=
			class_room.id

			join class_room_schedule
      on course.course_id =
      class_room_schedule.course_id

      order by c_course_id,s_date,s_start_time

</select>

<select id="selectCourseByPage" resultMap="joinCourse">
	select

	<include refid="standardSelect"></include>

	FROM course

			join  course_capacity
			on course.course_id=
			course_capacity.course_id

			join class_room
			on course.class_room_id=
			class_room.id

			join class_room_schedule
      on course.course_id =
      class_room_schedule.course_id

  	  join(
	    SELECT course_id
  	  FROM course
    	ORDER BY course_id
    	limit #{offset},#{limit}
			) as limited_course
			on course.course_id=limited_course.course_id

			order by c_course_id,s_date,s_start_time

</select>

<select id="selectTotalPages" resultType="long">
	select count(*) from course
</select>

<select id="selectCourseByCourseId" parameterType="String" resultMap="joinCourseWithClassRoom">
		 select DISTINCT

	<include refid="standardSelect"></include>

	FROM course

			join  course_capacity
			on course.course_id=
			course_capacity.course_id

			join class_room_schedule
      on course.course_id =
      class_room_schedule.course_id

			join class_room
			on class_room_schedule.class_room_id=
			class_room.id

			where course.course_id=#{courseId}
      order by c_course_id,s_date,s_start_time

</select>

<select id="selectRegisteredSchedule" resultType="com.example.app.domain.ClassRoomSchedule">
SELECT * FROM class_room_schedule
WHERE class_room_id = #{classRoomId}
AND date IN
<foreach item="date" collection="dateList" open="(" separator="," close=")">
#{date}
</foreach>
order by class_room_id,date,start_time
</select>

<select id="selectClassRoomScheduleAll" resultMap="classRoomScheduleMap">
	SELECT

        class_room_schedule.id AS s_id,
        class_room_schedule.course_id AS s_course_id,
        class_room_schedule.class_room_id AS s_class_room_id,
        class_room_schedule.date AS s_date,
        class_room_schedule.start_time AS s_start_time,
        class_room_schedule.end_time AS s_end_time,
        class_room_schedule.course_period AS s_course_period,

				class_room.id AS r_id,
        class_room.class_room AS r_class_room

	FROM class_room_schedule
	join class_room
	on class_room_schedule.class_room_id=class_room.id
	order by s_date,s_start_time
</select>

<select id="countOverlappedSchedule">
	SELECT COUNT(*)
	FROM class_room_schedule
	WHERE class_room_id = #{classRoomId}
  	AND date = #{date}
	 	AND id != #{id}
 		AND start_time &lt; #{endTime}
 		AND #{startTime} &lt; end_time;

</select>

<select id="selectCheckSingleScheduleById" resultType="com.example.app.domain.ClassRoomSchedule">
	SELECT
	id,
	class_room_id AS classRoomId,
  date,
  start_time AS startTime
	FROM class_room_schedule
	where id=#{id}
</select>


<!--<select id="selectRegisteredSchedule">-->
<!--	select id,class_room_id,date,start_time,end_time-->
<!--	from class_room_schedule-->
<!--	where class_room_id=#{classRoomId}-->
<!--	and date=#{date} order by start_time-->
<!--</select>-->

<insert id="insertCourse">
 		<selectKey keyProperty="courseId" resultType="String" order="AFTER">
        SELECT course_id
        FROM course
        WHERE id = LAST_INSERT_ID()
    </selectKey>

 insert into course
 	(title,detail,class_room_id,course_term,tuition_fee,material_fee)
 	values
 	(#{title},#{detail},#{classRoomId},#{courseTerm},#{tuitionFee},#{materialFee})
 </insert>

 <insert id="insertCourseCapacity" >
 insert into course_capacity
 	(course_id,capacity)
 	values
 	(#{courseId},#{capacity})
 </insert>

 <insert id="insertClassRoomSchedule" >
 insert into class_room_schedule
 	(course_id,class_room_id,date,start_time,end_time,course_period)
 	values
 	<foreach collection="classRoomSchedule" item="item" separator=",">
 	(#{item.courseId},#{item.classRoomId},#{item.date},#{item.startTime},#{item.endTime},#{item.coursePeriod})
 	</foreach>
 </insert>

	<update id="updateSingleSchedule">
	update class_room_schedule
	set class_room_id=#{classRoomId},
			date=#{date},
			start_time=#{startTime},
			end_time=#{endTime},
			updated_at=now()

	where id=#{id}

	</update>
	
	<update id="updateCourseSalesReset">
	update course_sales
	set
		monthly_tuition_fee=0,
		material_fee=0,
		updated_at=now()
	where
		course_id=#{courseId};
	
	</update>


</mapper>