<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  -->
<mapper namespace="com.example.app.mapper.CourseMapper">

<resultMap type="Course" id="joinCourse">
		<id property="id" column="id"/>
		<result property="courseId" column="course_id"/>
		<result property="title" column="title"/>
		<result property="detail" column="detail"/>
		<result property="classRoomId" column="class_room_id"/>
		<result property="registeredAt" column="registered_at"/>
		<result property="updatedAt" column="updated_at"/>

	<association property="courseCapacity" javaType="CourseCapacity">
		<result property="capacity" column="capacity"/>
		<result property="numberOfApplicant" column="number_of_applicant"/>
		<result property="registeredAt" column="registered_at"/>
		<result property="updatedAt" column="updated_at"/>
	</association>
	<association property="classRoom" javaType="ClassRoom">
		<result property="id" column="id"/>
		<result property="classRoom" column="class_room"/>
		<result property="registeredAt" column="registered_at"/>
		<result property="updatedAt" column="updated_at"/>
	</association>
</resultMap>

<select id="selectCourseAll" resultMap="joinCourse">
			select * FROM course
			join  course_capacity
			on course.course_id=
			course_capacity.course_id
			join class_room
			on course.class_room_id=
			class_room.id

</select>

<insert id="insertCourse">
 		<selectKey keyProperty="courseId" resultType="String" order="AFTER">
        SELECT course_Id
        FROM course
        WHERE id = LAST_INSERT_ID()
    </selectKey>

 insert into course
 	(title,detail,class_room_id)
 	values
 	(#{title},#{detail},#{classRoomId})
 </insert>

 <insert id="insertCourseCapacity" >
 insert into course_capacity
 	(course_Id,capacity)
 	values
 	(#{courseId},#{capacity})
 </insert>


<select id="selectCourseById" parameterType="int" resultType="course">
	select
		 * FROM course
		 where course.id=#{id}
</select>

</mapper>