<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  -->
<mapper namespace="com.example.app.mapper.MemberMapper">




<select id="selectMemberAll" >
	SELECT * FROM members

</select>

<select id="selectMemberByWord">
 SELECT * FROM members
	<where>
<!-- もしデータがあればSQLをくっつける -->
		<if test="name != null">
				and name like concat('%',#{name},'%')
		</if>
		<if test="id !=null">
				and id like concat(#{id},'%')
		</if>
	</where>

</select>

<select id="selectMemberById">
	SELECT * FROM members
	where id=#{id}

</select>

<select id="selectByCourseIdForUpdate">
	select
		course_id,
		capacity,
		number_of_applicant
	from
		course_capacity
	where
		course_id=#{courseId}
	for update
</select>

<select id="selectMonthlyCount">
	select
		course_id,
		date_format(date,'%Y%m') AS salesMonth,
		count(*) AS count
	from
		class_room_schedule
	where
		course_id=#{courseId}
	group by
		date_format(date,'%Y%m')
	ORDER BY
		salesMonth ASC
</select>

<select id="selectRemainingMonthlyCount">
	select
		course_id,
		date_format(date,'%Y%m') AS salesMonth,
		count(*) AS count
	from
		class_room_schedule
	where
		course_id=#{courseId}
		and
		TIMESTAMP(date, start_time) >= NOW()
	group by
		date_format(date,'%Y%m')
	ORDER BY
		salesMonth ASC
</select>

<select id="selectRemainingCount" resultType="int">
	select
		count(*) AS count
	from
		class_room_schedule
	where
		course_id=#{courseId}
		and
		TIMESTAMP(date, start_time) >= NOW()
		and
		schedule_status='OPEN'

</select>

<select id="sellectCourseSchedulesByCourseId" resultType="ClassRoomSchedule">
	select
		id,
		course_id,
		date,
		start_time,
		DATE_FORMAT(date,'%Y%m') as salesMonth
	from
		class_room_schedule
	where
		course_id=#{courseId}
	and
		TIMESTAMP(date, start_time) >= NOW()
	order by
		date ASC,start_time ASC

</select>


<select id="selectCourseFee">
	select
		course_id,
		course_term,
		allow_late_enrollment,
		tuition_fee,
		material_fee
	from
		course
	where
		course_id=#{courseId}

</select>

<select id="countOverlappedCourse">
	SELECT COUNT(*)
	FROM course_history
	WHERE member_id = #{memberId}
  	AND course_id = #{courseId}

</select>

<select id="sellectCourseHistoryById">
	SELECT
		course_id,
		member_status
	FROM course_history
	WHERE member_id = #{memberId}
	ORDER BY
		course_id ASC

</select>

<update id="updateApplyedCount">
	update
		course_capacity
	set
<!--number_of_applicant=#{numberOfApplicant}, -->
		number_of_applicant=number_of_applicant+1,
		updated_at=now()
	where
		course_id=#{courseId}


</update>

 <update id="updateCourseHistoryStartMonth">
 	update
 		course_history
 	set
 		start_month=#{newStartMonth},
 		updated_at=now()
 	where
		course_id=#{courseId}
	and
		member_id=#{memberId}
 </update>

<insert id="upsertCourseSales">
	insert into
		course_sales(

			course_id,
			target_month,
			monthly_tuition_fee,
			material_fee)
		values(

			#{courseId},
			#{targetMonth},
			#{monthlyTuitionFee},
			#{materialFee})
	on duplicate key update
			monthly_tuition_fee=
			monthly_tuition_fee + #{monthlyTuitionFee},
			material_fee=
			material_fee + #{materialFee},
			updated_at=now()

</insert>

 <insert id="insertCourseHistory">
 insert into
		course_history(
			member_id,
			member_status,
			course_id,
			late_enrollment,
			course_term,
			remaining_count,
			paid_tuition_fee,
			paid_material_fee,
			start_month)
		values(
			#{memberId},
			#{memberStatus},
			#{courseId},
			#{lateEnrollment},
			#{courseTerm},
			#{remainingCount},
			#{paidTuitionFee},
			#{paidMaterialFee},
			#{startMonth})

 </insert>

 <insert id="upsertMemberScheduleStatus">
    INSERT INTO member_schedule_status (
        member_id,
        course_id,
        schedule_id,
        status,
        registered_at,
        updated_at
    ) VALUES (
        #{memberId},
        #{courseId},
        #{scheduleId},
        #{status},
        NOW(),
        NOW()
    )
    ON DUPLICATE KEY UPDATE
        status = #{status},
        updated_at = NOW()
</insert>

</mapper>