<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  -->
<mapper namespace="com.example.app.mapper.MemberMapper">
<select id="selectMemberAll" >
	SELECT * FROM members
	 
</select> 
 
<select id="selectMemberByWord">
 SELECT * FROM members
	<where>
<!-- もしデータがあればSQLをくっつける -->
		<if test="name != null">
				and name like concat('%',#{name},'%')
		</if>
		<if test="id !=null">
				and id like concat(#{id},'%')
		</if>
	</where>
 
</select>

<select id="selectMemberById">
	SELECT * FROM members
	where id=#{id}
	
</select>
 
<select id="selectByCourseIdForUpdate">
	select
		course_id,
		capacity,
		number_of_applicant 
	from 
		course_capacity
	where
		course_id=#{courseId}
	for update	
</select> 



<update id="updateApplyedCount">
	update
		course_capacity
	set
		number_of_applicant=#{na}
	where
		course_id=#{courseId}
</update>
 

</mapper>