<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  -->
<mapper namespace="com.example.app.mapper.RefundMapper">

<update id="updateCrsStatusForCancellation">
	update
		class_room_schedule
	set
		schedule_status= #{status},
		updated_at=now()
	where id in
		<foreach item="id" collection="targetIds" open="(" separator="," close=")">
        #{id}
    </foreach>
</update>

<update id="updateCourseHistoryForRefund">
	update
		course_history
	set
		member_status=3, <!-- 払い戻し仮フラグ 預り金未返金あり-->
		refund_tuition_fee=refund_tuition_fee+COALESCE(#{refundtuitionFee},0),
		refund_material_fee=refund_material_fee+COALESCE(#{refundmaterialFee},0),
		updated_at=now()
	where
		member_id =#{memberId}
		and
		course_id =#{courseId}

</update>

<update id="updateCourseSalesForRefund">
	<foreach collection="list" item="item" separator=";">
		UPDATE
			course_sales
		SET
			course_sales_status=9, <!-- 払い戻し仮フラグ -->
			refund_monthly_tuition_fee = refund_monthly_tuition_fee + #{item.refundTuitionFee},
			refund_material_fee = refund_material_fee + #{item.refundMaterialFee},
			updated_at = NOW()
		WHERE
			course_id = #{item.courseId}
		AND target_month = #{item.targetMonth}
	</foreach>
</update>

<update id="updateCrsStatusForCancelledSession">
	update
		class_room_schedule
	set
		schedule_status= #{status},
		updated_at=now()
	where
		id=#{targetId}

</update>

<update id="updateCourseSalesMaterialFee">
	UPDATE course_sales
  SET
  	material_fee = material_fee + CASE target_month
  WHEN
  	#{currentStartMonth} THEN -#{pmFee}
  WHEN
  	#{newStartMonth}
  THEN
  	#{pmFee}
  ELSE 0
  END
  WHERE
  course_id = #{courseId}
  AND
  target_month IN (#{currentStartMonth}, #{newStartMonth})
</update>

</mapper>