<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<title>Document</title>
</head>
<body>
 <h1>登録</h1>
 	<form th:action="@{/add}" method="post" th:object="${course}">

		<ul>
			<div class="mb-3">
			 	<a th:href="@{/menu}" class="btn btn-secondary">メニュー画面</a>
			 	<a th:href="@{/show}" class="btn btn-secondary">一覧画面</a>
			</div>

				<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger w-50 py-2 mb-2 rounded"></p>
			<div class="mb-3">
			<label for="formName">タイトル</label>
         <input type="text"	th:field="*{title}"	id="formName"
		             	class="form-control"/>
			</div>
			<div class="mb-3">
			<label for="formNote">内容</label>
			  <textarea th:field="*{detail}" id="formNote" class="form-control"></textarea>
			</div>

			<div class="mb-3">
				<label for="formName">回数</label>
			  <input type="number" th:field="*{numberOfDays}"	onkeydown="return false" id="formName"
			       	class="form-control"/>
			</div>

			<div class="mb-3">
				<label for="formName">開催日</label>
			  <input type="date" th:field="*{classRoomSchedule[0].date}"	id="formName"
							min="2026-05-01" max="2026-09-30"
							onkeydown="return false"
			       	class="form-control"/>
			</div>

			<div class="mb-3">
				<label for="formName">開始時間</label>
<!--			  <input type="time" th:field="*{classRoomSchedule.startTime}" min="10:00" max="15:00" step="900"-->
<!--				onkeydown="return false" id="formStartTime"	class="form-control"/>-->
				<select th:field="*{classRoomSchedule[0].startTime}" id="formStartTime" class="form-control">
<!-- 💡 10時から14時までループを回し、各時で0分、15分、30分、45分のオプションを生成 -->
	        <th:block th:each="hour : ${#numbers.sequence(10, 14)}">
						<th:block th:each="min : ${#numbers.sequence(0, 45, 15)}">
							<option th:with="hStr=${#numbers.formatInteger(hour, 2)}, mStr=${#numbers.formatInteger(min, 2)}"
							        th:value="${hStr + ':' + mStr}"
							        th:text="${hStr + ':' + mStr}">
             	</option>
           	</th:block>
					</th:block>
 				</select>


			</div>

			<div class="mb-3">
				<label for="formName">講座時間</label><br>
			  <label><input type="radio" th:field="*{classRoomSchedule[0].coursePeriod}"
											value="30"/>30分　</label>
				<label><input type="radio" th:field="*{classRoomSchedule[0].coursePeriod}"
											value="45"/>45分　</label>
			  <label><input type="radio" th:field="*{classRoomSchedule[0].coursePeriod}"
											value="60"/>60分　</label>

			</div>

			<div class="mb-3">
			<label for="formLocation">教室</label>
				<select th:field="*{classRoomId}"  id="formLocation" class="form-control">
				  <option th:each="r : ${classRoomList}" th:value="${r.id}" th:text="${r.classRoom}">
					</option>
			  </select>
			</div>
			<p th:if="${#fields.hasErrors('courseCapacity.capacity')}" th:errors="*{courseCapacity.capacity}" class="alert alert-danger w-50 py-2 mb-2 rounded"></p>
			<div class="mb-3">
			<label for="formCapacity">定員</label>
					<input type="number" th:field="*{courseCapacity.capacity}"
				         id="formCapacity" onkeydown="return false" class="form-control"/>
			</div>
			<input type="submit" class="btn btn-primary" value="登録"/>
		</ul>
	</form>
 			<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!--			<script>-->
<!--				function checkTimeLimit(input) {-->
<!--				    if (input.value < input.min) {-->
<!--				        input.value = input.min;-->
<!--				    }-->
<!--				    if (input.value > input.max) {-->
<!--				        input.value = input.max;-->
<!--				    }-->
<!--				}-->

<!--			</script>-->
</body>
</html>

